# Project exclude paths
/.gradle/
/build/
/build/classes/java/test/
/.idea/
*.log
*.iml
.jar
.zip
*.iws
/out/
.idea_modules/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
!gradle/wrapper/gradle-wrapper.jar
target/
lib/